<div class="jumbotron">
    <h1>FAS</h1>
    <p class="lead">FAS Stands for Fingerprint Attendance System.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> About API</h2>
        <p>Please click on API to get the documentation.</p>
   
    </div>
</div>
